{% extends "base.html" %}
{% block title %}{{ privatetitle }}{% endblock %}
{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">监控项展示（2天/1周/1月/1年)</a>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="container">
    <div class="col-md-9">
        {{value}}
    </div>
    {% for png in pngs  %}
    <p>
        <img src="{{ png }}" class="img-responsive" alt="Responsive image">
    </p>
    {% endfor %}
</div>
{% endblock %}

